* {
    font-family: 'Mako', sans-serif;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
    font-family: 'Mako', sans-serif;
    ;
}

body {
    background-color: #C96D04;
    font-family: 'Mako', sans-serif;
}

/*HEADER*/
/*HEADER*/
header {
    position: relative;
    width: 100%;
    height: 14vh;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    width: 80%;
    margin: auto;
    display: flex;
    margin-left: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #000000;
}

.ion {
    position: absolute;
    width: 350px;
    height: 56px;
    left: -125px;
    top: 16px;
}

.titulo {
    position: relative;
    width: 350px;
    left: 80px;
    top: 10px;
    font-weight: 1000;
    font-size: 50px;
    line-height: 65px;
    color: #000000;
}

.inicio {
    position: absolute;
    width: 80px;
    height: 36px;
    left: 670px;
    top: 30px;
}

.beneficio {
    position: absolute;
    width: 150px;
    height: 36px;
    left: 760px;
    top: 30px;
}

.historia{
    position: absolute;
    width: 122px;
    height: 36px;
    left: 920px;
    top: 30px;
}

.cadastro {
    position: absolute;
    width: 140px;
    height: 45px;
    left: 1100px;
    top: 25px;
    font-weight: 600;
    font-size: 27px;
    line-height: 44px;
}

.login {
    position: absolute;
    width: 86px;
    height: 45px;
    left: 1250px;
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 44px;
}


/* .fundoLogin {
    position: absolute;
    width: 116px;
    height: 52px;
    left: 1200px;
    top: 20px;
    background: #0F6AD2;
} */

.anima{
    text-align: center;
    display: block;
    overflow: hidden;

}

.anima::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    background-color: #0460c9;
    z-index: -1;
    transition: .7s ease;
}

.anima::before{
    width: 0;
    height: 100%;
}
:hover::before{
    width: 100%;
}


/*content pagina inicial*/



.imgback{
    background-image: url(../assets/jordanDunk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 780px;
    width: 100%;
    border: #000000 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    text-decoration: dashed;
    border-bottom: 3px solid black;
}

input{
    margin-bottom: 10px;
  border: 2px solid #C96D04;
  padding: 5px;
  text-align: center;
  border-radius: 5em;
}

select{
width: 100%;
    min-width: 10ch;
    max-width: 20ch;
    border-radius: 5em;
    padding: 0.25em 0.5em;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1.1;
    border: 2.5px solid #C96D04;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.226);    
    outline: none;
    background-color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

button{
    cursor: pointer;
    border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 5px;
  color: white;
  background-color: #C96D04;
  border: #000000 2px solid;
  text-align: center;
  width: 120px;
  align-self: center;
  margin-top: 5px;
  transition: 0.5s;
}

.btnCor{
    transition: 0.5s;
}

.retangulo{
    background-color: #0460c9;
    border: #000000 2px solid;
    border-radius: 20px;
    display: flex;
    padding: 30px;
    margin-right: 100px;
    justify-content: center;
    opacity: 0;
    transition: 2s;
}
.retangulo.fade{
    opacity: 1;
}

.containerMain{
    color: white;
    border: #000000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;   
}
.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }

  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: rgb(204, 215, 247);
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #C96D04 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
/*FOOTER*/

.containerFooter{
    width: 79px;
    height: 76px;
    left: 591px;
    top: 820px;
}

.voltarinicio {
    position: absolute;
    width: 79px;
    height: 76px;
    left: 591px;
    top: 880px;
}

.insta {
    position: absolute;
    width: 79px;
    height: 76px;
    left: 700px;
    top: 880px;
}

.footcadastro {
    position: absolute;
    width: 173px;
    height: 27px;
    left: 555px;
    top: 960px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.footlogin {
    position: absolute;
    width: 79px;
    height: 24px;
    left: 722px;
    top: 960px;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.direitos {
    position: absolute;
    width: 242px;
    height: 73px;
    left: 562px;
    top: 1000px;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #ad6008;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #0460c9;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #ad6008;
    /* creates padding around scroll thumb */
}

