* {
    font-family: 'Mako', sans-serif;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
    font-family: 'Mako', sans-serif;
}

body {
    background-color: #C96D04;
    font-family: 'Mako', sans-serif;
}

/*HEADER*/
header {
    position: relative;
    width: 100%;
    height: 14vh;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    width: 80%;
    margin: auto;
    display: flex;
    margin-left: 500px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 35px;
    color: #000000;
}

.ion {
    position: absolute;
    width: 350px;
    height: 56px;
    left: -125px;
    top: 16px;
}

.titulo {
    position: relative;
    width: 350px;
    left: 80px;
    top: 10px;
    font-weight: 1000;
    font-size: 50px;
    line-height: 65px;
    color: #000000;
}

.inicio {
    position: absolute;
    width: 80px;
    height: 36px;
    left: 670px;
    top: 30px;
}

.beneficio {
    position: absolute;
    width: 150px;
    height: 36px;
    left: 760px;
    top: 30px;
}

.historia {
    position: absolute;
    width: 122px;
    height: 36px;
    left: 920px;
    top: 30px;
}

.cadastro {
    position: absolute;
    width: 140px;
    height: 45px;
    left: 1100px;
    top: 25px;
    font-weight: 600;
    font-size: 27px;
    line-height: 44px;
}

.login {
    position: absolute;
    width: 86px;
    height: 45px;
    left: 1250px;
    top: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 44px;
}

/* .fundoLogin {
    position: absolute;
    width: 116px;
    height: 52px;
    left: 1200px;
    top: 20px;
    background: #0F6AD2;
} */

.anima {
    text-align: center;
    display: block;
    overflow: hidden;

}

.anima::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;

    background-color: #0460c9;
    z-index: -1;
    transition: .7s ease;


}

.anima::before {
    width: 0;
    height: 100%;
}

:hover::before {
    width: 100%;
}



/*content pagina inicial*/
.imgback {
    background-image: url(../assets/lebronWadeOriginal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;
    width: 100%;
}

.txtb {
    position: absolute;
    width: 629px;
    height: 266px;
    left: 669px;
    top: 120px;
    font-family: 'Mako';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 84px;
    text-align: right;
    color: #FFFFFF;
}

.mundo {
    padding-right: 90px;
}

.txtvid {
    position: absolute;
    width: 629px;
    height: 87px;
    left: 369px;
    top: 1030px;
    font-family: 'Mako';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
}

.video {
    position: absolute;
    width: 696px;
    height: 480px;
    left: 310px;
    top: 1120px;
}

.backDesc {
    margin: 10px;
    position: absolute;
    width: 750px;
    height: 160px;
    left: 287px;
    top: 1540px;
    border: solid 1px;
    border-radius: 30px;
    background-color: #dee2ec;
}

.descvid {
    margin: 10px;
    position: absolute;
    width: 703px;
    height: 200px;
    font-size: 20px;
    line-height: 26px;
    left: 310px;
    top: 1550px;
}

.quadradoAzul {
    position: absolute;
    width: 100%;
    height: 826px;
    left: 0px;
    top: 1756px;
    background: #20283d;
    border-bottom: #000000 solid 5px;
    border-top: #000000 solid 5px;
}

.titulobene {
    position: absolute;
    width: 629px;
    height: 167px;
    left: 369px;
    top: 1780px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
    color: #FFFFFF;
}

.txtbene {
    position: absolute;
    width: 865px;
    height: 541px;
    left: 40px;
    top: 1995px;
    font-family: 'Mako';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.imgbene {
    position: absolute;
    width: 339px;
    height: 640px;
    left: 915px;
    top: 1990px;
}

.imgagua {
    height: 550px;
}



/* HISTÓRIA */

.hist {
    width: 100%;
    top: 2590px;
    position: absolute;
    height: 870px;
    background-color: #ffffff;
    border-bottom: 3px solid black;
}

.titulohist {
    top: 25px;
    position: absolute;
    width: 629px;
    height: 167px;
    left: 369px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
}

.criador {
    height: 500px;
    width: 380px;
    position: absolute;
    left: 30px;
    top: 250px;
}

.txtcriador {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    left: 95px;
    top: 750px;
}

.txthist {
    position: absolute;
    width: 860px;
    font-weight: 400;
    font-size: 20px;
    left: 450px;
    top: 245px;
}

.notify {
    top: 3370px;
    border: rgb(202, 22, 22);
    background-color: #C96D04;
    border-radius: 50px;
    position: absolute;
    width: 79px;
    height: 76px;
    left: 1150px;
    cursor: pointer;
    opacity: 1;
    transition: 2s;
}

.notify.fade{
    opacity: 0;
}

.motivos {
    display: none;
    position: absolute;
    left: 1065px;
    top: 660px;
    border-radius: 20px;
    width: 18%;
    height: 13%;
    font-size: 20px;
    border: #000000 2px solid;
    background-color: #C96D04;
    text-align: center;
}

.agui{
    color: #1504ff;
}

/*FOOTER*/

.pe {
    top: 3400px;
    width: 500px;
    height: 400px;
}

.voltarinicio {
    position: absolute;
    width: 79px;
    height: 76px;
    left: 591px;
    top: 3470px;
}

.insta {
    position: absolute;
    width: 79px;
    height: 76px;
    left: 700px;
    top: 3470px;
}

.footcadastro {
    position: absolute;
    width: 173px;
    height: 27px;
    left: 555px;
    top: 3550px;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.footlogin {
    position: absolute;
    width: 79px;
    height: 24px;
    left: 722px;
    top: 3550px;
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
}

.direitos {
    position: absolute;
    width: 242px;
    height: 73px;
    left: 562px;
    top: 3590px;
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #ad6008;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #0460c9;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #ad6008;
    /* creates padding around scroll thumb */
}