body {
  background-color: #ffffff;
  font-family: 'Mako', sans-serif;
  overflow-x: hidden;
}

input {
  border-radius: 20px;
  height: 50px;
  width: 50px;
  border: 1px solid #D2780F;
  outline: none;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
  font-size: 25px;
  text-transform: uppercase;
}

.ion {
  height: 50px;
  width: 50px;
  color: #D2780F;
}

.bck {
  margin: 40px;
  width: 50%;
  position: relative;
}

.chute {
  display: flex;
  flex-direction: row;
  margin-left: 700px;
}

.tabela {
  display: flex;
  flex-direction: column;
  margin-left: 868px;
}

.enterrada {
  display: flex;
  flex-direction: row;
  margin-left: 420px;
  margin-top: -54px
}

.borracha {
  display: flex;
  flex-direction: column;
  margin-left: 700px;
  margin-top: -215px
}

.aro {
  display: flex;
  flex-direction: row;
  margin-left: 756px;
  margin-top: -54px
}

.couro {
  display: flex;
  flex-direction: row;
  margin-left: 532px;
  margin-top: -325px
}

.num1 {
  position: absolute;
  margin-left: 720px;
  margin-top: 12px;
  font-size: 25px;
}

.num2 {
  position: absolute;
  margin-left: 930px;
  margin-top: -24px;
  font-size: 24px;
}

.num3 {
  position: absolute;
  margin-left: 440px;
  margin-top: 285px;
  font-size: 24px;
}

.num4 {
  position: absolute;
  margin-left: 760px;
  margin-top: 85px;
  font-size: 24px;
}

.num5 {
  position: absolute;
  margin-left: 552px;
  margin-top: 230px;
  font-size: 24px;
}

.num6 {
  position: absolute;
  margin-left: 720px;
  margin-top: 500px;
  font-size: 24px;
}

.dicas {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  font-size: 16.2px;
  /* background-color: rgb(5, 5, 5); */
  margin-left: 75%;
  width: 20%;
  margin-top: -170px;
  background-color: white;
  box-shadow: 5px 5px 7px rgb(0 0 0 / 30%);
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  cursor: default;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 3px solid #D2780F;
  background-color: #20283d;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #e3f3ff;
  position: relative;
  top: 0;
  left: 25%;
}

.header-left h1 {
  color: #D2780F;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 90%;
  color: white;
  background-color: #0F6AD2;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 90%;
  background-color: white;
  border: 3px solid #0F6AD2;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #0F6AD2;
  padding: 0;
  margin: 0;
}

.erro_login {
  font-size: 10px;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #D2780F;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* VOTAÇÃO */

.bannerVota {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78vw;
  left: 21vw;
  height: 100%;
}

.quadra {
  position: relative;
  height: 500px;
  width: 500px;
}

.vs {
  height: 40%;
  width: 25vw;
  border: 2px solid;
}

.imgvs {
  height: 40vh;
  width: 20vw;
}

.lebron {
  flex-direction: column;
}

.jordan {
  flex-direction: column;
}

.grafico {
  height: 50%;
  width: 950px;
  margin-left: 10%;
}